.mat-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  button {
    margin-bottom: 10px;
  }
  
  .mat-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  